body{
	background-color: #D24160;
    height: 4000px;
    margin: auto;
    font-family: Times;
}
.container{
	width: 950px;
	margin: auto;
}
.clearfix{clear:both;}

/*..Start header..*/
.part1{
	background-color: black;
	height: 900px;
	overflow: hidden;
}
.header{
	float: left;
	width: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
    overflow: hidden;
}
.header p{
	color: #696969;
	font-size: 13px;
}
.main .media{
	width: 50%;
	overflow: hidden;
	float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-flex;
}
.main .media ul{
	margin-right: 15px;
}
.media ul li{
	display: inline-block;
	padding: 1px;
}
.media form{
	margin-top: 23px;
}
.media form input{
	border-radius: 12px;
	background-color: #D24160;
	background-image: url('images/if_Rounded-10_2024633.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px;
	border: none;
	height: 25px;
	width: 230px;
}
.navbar{
	background-image: linear-gradient(#313131, #151515);
    overflow: hidden;
    float: left;
    width: 100%
}
.navbar ul{
	list-style: none;
	margin: 20px;
	padding-left: 10px;
}
.navbar ul li{
	display: inline-block;
	padding-right: 15px;
}
.navbar ul li a{color: #FFFFFF; text-decoration: none;}
.navbar ul li.active a,
.navbar ul li a:hover{color: #D24160;}

.main .slider {
	/*background-image: url('images/diamond-161739.png');
	background-repeat: no-repeat;
	background-position: fixed;*/
	margin-top: 30px;
}
/*img.source-image{
	width: 100%;
    height: 500px;

}*/
.main .slider ul{
	color: gray;
	float: right;
}
.main .slider ul li{
    display: inline-block;


}
.main .slider ul li.active a,
.main .slider ul li a:hover{
	list-style: circle;
}